$MainBackgroundColour: #F5F5F5;
$MainFontColour : #424242;
$navbar-font-colour : darken($MainFontColour, 10%);
$link-font-color : #2196f3;
$caption-font-color : lighten($MainFontColour,15%);
$ShadowBoxShadowColour: #EEEEEE;

$social-facebook:#4464a2;
$social-twitter:#03b5ef;
$social-gplus: #dd4b39;
$social-instagram: #e95950;
$social-linkedin: #007bb5;
