@font-face {
  font-family: "ThaiSansNeue_Regular";
  src: url("../fonts/thaisansneue/thaisansneue-regular-webfont.woff") format("woff"), url("fonts/thaisansneue/thaisansneue-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "ThaiSansNeue_Light";
  src: url("../fonts/thaisansneue/thaisansneue-light-webfont.woff") format("woff"), url("fonts/thaisansneue/thaisansneue-light-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "ThaiSansLite";
  src: url("../fonts/thaisanslite/thaisanslite_r1-webfont.eot");
  src: url("../fonts/thaisanslite/thaisanslite_r1-webfont.woff") format("woff"), url("../fonts/thaisanslite/thaisanslite_r1-webfont.woff2") format("woff2"), url('../fonts/thaisanslite/thaisanslite_r1-webfont.ttf') format('truetype');
}
